@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Texto negro */
  --background-start-rgb: 214, 219, 220; /* Fondo degradado inicial */
  --background-end-rgb: 255, 255, 255; /* Fondo blanco */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb)); /* Fondo blanco */
}
